<div class="row" style="margin-top: 20px">
    <div class="col-md-2">

    </div>

    <div class="col-md-7">
        <div class="row" style="font-size: 20px; margin-bottom: 30px">
            <div class="col-md-10">
                <label>Shopping Cart</label>
            </div>
            <div class="coll-md-2" style="float: right">
                <a routerlink = '/cart/checkout'>
                  <button type="button" routerLink="/cart/checkout" class="btn btn-danger">
                    Checkout
                  </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Image of Project
            </div>
            <div class="col-sm-7">
                <div class="row">
                    Product Name
                </div>
                <div class="row">
                    Product Detail
                </div>
            </div>
            <div class="col-sm-2">
                <label>Price of the Product</label>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-10">
                Total
            </div>
            <div class="col-md-2">
                <label>Total Price of the Product</label>
            </div>
        </div>

    </div>
    <div class="col-md-3">

    </div>
</div>
