<div class="container">
  <div class="row">
    <div class="col-sm-4 hidden-xs">
      <h4>Get to know us</h4>
      <a routerLink="/about">About Us</a><br>
      <a routerLink="/shipping">Shipping</a><br>
      <a routerLink="/return">Returns</a>
    </div>
    <div class="col-sm-4 text-center hidden-xs">
      <h4>Get help</h4>
      <a routerLink="/support">Support</a><br>
      <a routerLink="/faq">Frequently Asked Questions</a>
    </div>
    <div class="col-sm-4 text-right hidden-xs">
      <h4>Address</h4>
      Electronic Retail Store<br>
      One Washington Square,<br>
      San Jose, CA 95192
    </div>
    <div class="col-xs-12 visible-xs">
      <h4>Get help</h4>
      <a routerLink="/about">About Us</a><br>
      <a routerLink="/shipping">Shipping</a><br>
      <a routerLink="/return">Returns</a><br>
      <a routerLink="/support">Support</a><br>
      <a routerLink="/faq">FAQ</a><br>
      <h4>Address</h4>
      Electronic Retail Store<br>
      One Washington Square,<br>
      San Jose, CA 95192<br>
    </div>
  </div>
</div>
