<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">Shipment Information
        <p>{{fullname}}</p>
        <p>{{addressline1}} {{city}} {{state}} {{zip}} {{country}}</p>
        <p>{{phonenumber}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">Estimated delivery time
          <p>{{duration}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(link)">
      </iframe></div>
        </div>

      </div>
    </div>
  </div>

</div>
