<div class="row" style="margin-bottom: 20px">
  <div class="col-md-2">
    <a routerLink = "/">
      <img src="logo.png" alt="Logo" class="img-responsive" style="width: 45px; height: 45px; float:right">
    </a>
  </div>

  <div class="col-md-7">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Computer</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Tablet</a></li>
            <li><a href="#">Camera</a></li>
          </ul>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success">
    Search</button>
  </div>
</div>
