.main{
  min-height: 70vh;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  background: #f2f2f2;
}

.navbar-brand {
  padding: 0px 15px;
}

.nav a{
  font-size: 14px;
}

a {
  color: #6f6f6f;
  text-decoration: none;
}

h4{
  margin-bottom: 0px;
  font-size: 16px;
}

.navbar .navbar-toggle .icon-bar {
background-color: black ;
}


.row{
  margin-bottom: 40px;
  margin-top: 15px;
  margin-right: 0px;
}

.body_wrapper{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#cart-button{
  background-color: #6f6f6f;
  border-color: #f2f2f2;
}

#cancel-button{
  background-color: #f2f2f2;
  border-color: #fff;
}

.panel{
  border-color: #f2f2f2;
  margin-bottom: 50px;
}

.lead{
  background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 0px;
}

.form-group{
  margin-bottom: 5px;
}



footer{
  min-width:100%;
  max-width:100%;
  left: 0px;
  margin-top:40px;
  bottom: 0px;
  background-color: #2f2f2f;
  color: #ffffff;
}

footer a{
  color: #fff;
}
