<div class="container">
  <div class="row col-sm-offset-2 col-sm-8">

    <h3>Enter shipping address</h3>
      <form>
        <div class="form-group">
          <label><h4>Full name:</h4></label>
          <input type="text" class="form-control" id="fullname">
        </div>
        <div class="form-group">
          <label><h4>Address line 1:</h4></label>
          <input type="text" class="form-control" id="addressline1">
        </div>
        <div class="form-group">
          <label><h4>Address line 2:</h4></label>
          <input type="text" class="form-control" id="addressline2">
        </div>
        <div class="form-group">
          <label><h4>City:</h4></label>
          <input type="text" class="form-control" id="city">
        </div>
        <div class="form-group">
          <label><h4>State/Province/Region:</h4></label>
          <input type="text" class="form-control" id="state">
        </div>
        <div class="form-group">
          <label><h4>ZIP:</h4></label>
          <input type="text" class="form-control" id="zip">
        </div>
        <div class="form-group">
          <label><h4>Country</h4></label>
          <input type="text" class="form-control" id="country">
        </div>
        <div class="form-group">
          <label><h4>Phone number:</h4></label>
          <input type="text" class="form-control" id="phone">
        </div>
        <div>
          <label><input type="checkbox"> Remember me</label>
        </div>

      </form>
      <h3>Enter payment information</h3>
      <form>
        <div class="form-group">
          <label><h4>Card number:</h4></label>
          <input type="text" class="form-control" id="cardnumber">
        </div>
        <div class="form-group">
          <label><h4>Name on card:</h4></label>
          <input type="text" class="form-control" id="nameoncard">
        </div>
        <div class="form-group">
          <label><h4>Expiration date:</h4></label>
          <input type="text" class="form-control" id="expirationdate">
        </div>
      </form>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</div>
