<div class ="container ">

  <div class="row col-sm-offset-2 col-sm-8">
    <h3>Log In</h3>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <!--Email-->
      <div class="form-group">
        <label><h4>Email</h4></label>
        <input type="email" class="form-control" formControlName="email"/>
        <span class="help-block">Email is required</span>
      </div>
      <!--Password-->
      <div class="form-group" >
        <label><h4>Password</h4></label>
        <input type="password" class="form-control" formControlName="password"/>
        <span class="help-block">Password is required</span>
      </div>
      <!--Submit-->
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Log In</button>
        <button type="button" routerLink="/register" class="btn btn-link">Sign Up</button>
      </div>
    </form>
  </div>

</div>
