<div class="container">
  <h2>Enter shipping address</h2>
    <form>
      <div class="form-group">
        <label>Full name:</label>
        <input type="text" class="form-control" id="fullname">
      </div>
      <div class="form-group">
        <label>Address line 1:</label>
        <input type="text" class="form-control" id="addressline1">
      </div>
      <div class="form-group">
        <label>Address line 2:</label>
        <input type="text" class="form-control" id="addressline2">
      </div>
      <div class="form-group">
        <label>City:</label>
        <input type="text" class="form-control" id="city">
      </div>
      <div class="form-group">
        <label>State/Province/Region:</label>
        <input type="text" class="form-control" id="state">
      </div>
      <div class="form-group">
        <label>ZIP:</label>
        <input type="text" class="form-control" id="zip">
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" id="country">
      </div>
      <div class="form-group">
        <label>Phone number:</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div>
        <label><input type="checkbox"> Remember me</label>
      </div>
    </form>
    <h2>Enter payment information</h2>
    <form>
      <div class="form-group">
        <label>Card number:</label>
        <input type="text" class="form-control" id="cardnumber">
      </div>
      <div class="form-group">
        <label>Name on card:</label>
        <input type="text" class="form-control" id="nameoncard">
      </div>
      <div class="form-group">
        <label>Expiration date:</label>
        <input type="text" class="form-control" id="expirationdate">
      </div>
    </form>
    <div>
  <button type="submit" class="btn btn-primary" (click)="calculate()">Submit</button>
</div>
</div>
