<div class="container">
  <div class="row col-sm-offset-2 col-sm-8">
    <h3>Enter shipping address</h3>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label><h4>Full name:</h4></label>
        <input type="text" [(ngModel)]="fullname" name="fullname" placeholder="Enter Full Name" class="form-control" id="fullname">
      </div>
      <div class="form-group">
        <label><h4>Address line 1:</h4></label>
        <input type="text" [(ngModel)]="addressline1" name="addressline1" placeholder="Enter Address Line 1" class="form-control" id="addressline1">
      </div>
      <div class="form-group">
        <label><h4>Address line 2:</h4></label>
        <input type="text" [(ngModel)]="addressline2" name="addressline2" placeholder="Enter Address Line 2" class="form-control" id="addressline2">
      </div>
      <div class="form-group">
        <label><h4>City:</h4></label>
        <input type="text" [(ngModel)]="city" name="city" placeholder="Enter City" class="form-control" id="city">
      </div>
      <div class="form-group">
        <label><h4>State/Province/Region:</h4></label>
        <input type="text" [(ngModel)]="state" name="state" placeholder="Enter State/Province/Region" class="form-control" id="state">
      </div>
      <div class="form-group">
        <label><h4>ZIP:</h4></label>
        <input type="text" [(ngModel)]="zip" name="zip" placeholder="Enter Zip Code" class="form-control" id="zip">
      </div>
      <div class="form-group">
        <label><h4>Country</h4></label>
        <input type="text" [(ngModel)]="country" name="country" placeholder="Enter Country" class="form-control" id="country">
      </div>
      <div class="form-group">
        <label><h4>Phone number:</h4></label>
        <input type="text" [(ngModel)]="phonenumber" name="phonenumber" placeholder="Enter Phone Nmber" class="form-control" id="phone">
      </div>
      <div>
        <label><input type="checkbox"> Remember me</label>
      </div>

    <h3>Enter payment information</h3>
      <div class="form-group">
        <label><h4>Card number:</h4></label>
        <input type="text" [(ngModel)]="cardnumber" name="cardnumber" class="form-control" placeholder="Enter Card Number" id="cardnumber">
      </div>
      <div class="form-group">
        <label><h4>Name on card:</h4></label>
        <input type="text" [(ngModel)]="nameoncard" name="nameoncard" class="form-control" placeholder="Enter Name on Card" id="nameoncard">
      </div>
      <div class="form-group">
        <label><h4>Expiration date:</h4></label>
        <input type="text" [(ngModel)]="expirationdate" name="expirationdate" class="form-control" placeholder="Enter Card Expiration Date" id="expirationdate">
      </div>
      <div class="form-group">
        <label><h4>CVV:</h4></label>
        <input type="text" [(ngModel)]="cvv" name="cvv" class="form-control" placeholder="Enter 3-digit card verification value" id="cvv">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
